.About{
    z-index: 1000;
    overflow: hidden;
}
.card{
    background: var(--base-dark);
    box-shadow: 3px 3px 5px var(--base-blue);
    margin: 0 !important;
    border-radius: 20px;
    transition: 500ms;
}
.card:hover{
    background: var(--base-purple-darker);
    box-shadow: 5px 5px 8px var(--base-purple);
    /* border: 3px solid #FCDEBE; */
}
.About .TextContent .TextBox{
    width: 50%;
    display: flex;
    height: 50%;
}
.About .TextContent .TextContainer{
    display: flex;
    flex-wrap: wrap;
}
.About h2{
    font-size: 25px;
}
.TextBox{
    overflow: hidden;
  }
.card-title{
    font-size: 36px;
    font-family: var(--fantasy-font);
    color: var(--base-light);
}
.card-title .heavy{
    font-size: 54px;
    font-weight: bold;
    color: var(--base-pink-lighter);
}
.cardset-body{
    align-items: stretch;
    justify-content: center;
}
.cardset{
    align-items: stretch;
    justify-content: stretch;
}
.cardSpace{
    padding: 10px;
}
.cardset-body.animatedContent .card-text{
    /* font-size: 10px; */
    transform:scale(0.5);
    opacity: 0;
    transition: 200ms;
}
.cardset-body.animatedContent.show .card-text{
    /* font-size: 22px; */
    transform:scale(1);
    opacity: 1;
}
.card-text{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
}
.card:hover .card-text{
    color: antiquewhite;
}
.card:hover .card-title .heavy{
    color: #EDABB1;
}
.card:hover .card-link:not(:hover){
    color: #EDABB1;
}
.card-link {
    color: #F1AFFD;
    text-decoration:underline;
}
.card-link:hover:active {
    color: #FF36AB;
}
.card-link:hover {
    color: #E55934;
}