.HomePage{
    height: 100vh;
    width: 100%;
}
.HomeBanner{
    min-height: 100%;
    width: 100%;
    /* aspect-ratio: 45/32; */
}
.ParallaxBannerLayer{
    background-position: center top;
}
.ParallaxBannerLayer img{
    width: 100%;
}
.spaceFiller{
    width: 100%;
    height: 100vh;
    background-color: #100A25;
    background-image: linear-gradient(to right, #100819 , #100A25);
}