.HomePage{
    /* aspect-ratio: 4/3; */
    width: 100%;
    max-height: 120vh;
}
.HomeBanner{
    /* min-height: 100%; */
    width: 100%;
    aspect-ratio: 4/3;
}
.ParallaxBannerLayer{
    background-position: center top;
}
.ParallaxBannerLayer img{
    width: 100%;
}
.spaceFiller{
    width: 100%;
    height: 100vh;
    background-color: #100A25;
    background-image: var(--base-gradient);
}

.TimerCardGap{
    height: 34vw;
}
.TimerCardDiv{
    animation: Appear 3s;
}
.HomeLogoSVG{
    padding: 6rem;
    margin-top: 12rem;
}
@media screen and (max-width: 1150px) {
    .HomeLogoSVG{
   margin-top: 0px;
    }
}

@keyframes Appear {
    from{
        opacity: 0;
    }
    10%{
        opacity: 0;
    }
    80%{
        opacity: 60%;
    }
    to{
        opacity: 1;
    }
}