.NavBar{
    position: sticky;
    top: 0;
    z-index: 100;
}
.NavBar{
    opacity: 0;
    transform: translateX(min(-15%,-200px));
    transition: 500ms;
}
.NavBar.show{
    opacity: 100;
    transform: translateX(0px);
}
.NavBarComponent{
    height: 80px;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}
.NavBoxSlide{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 80px;
    display: flex;
}
.NavBox{
    background-color: pink;
    height: 80px;
    width: max(20%,250px);
}
.triangle{
width: 0;
height: 0;
border-top: 80px solid pink;
border-right: 80px solid transparent;
}
.NavTitleBoxSlide{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 60px;
    display: flex;
    transition: 1s;
}
.NavTitleBox{
    background-color: rgb(255, 192, 249);
    height: 60px;
    width: auto;
    min-width: 150px;
    margin-left: max(20%,250px);
    padding-left: 80px;
    padding-right: 10px;
    align-items: center;
    display: flex;
}
.NavTitleBoxSlide.showSlide{
    opacity: 100;
    transform: translateX(0px);
}
.NavTitleBoxSlide.hiddenSlide{
    opacity:0;
    transform: translateX(-500px);
}
.trianglesmol{
width: 0;
height: 0;
border-top: 60px solid rgb(255, 192, 249);
border-right: 60px solid transparent;
}
.NavBar .NavBox .logo{
    max-width: 100%;
    max-height: 100%;
}
.NavHeading{
    margin: auto;
    font-family:'Courier New', Courier, monospace;
    color: #242346;
    font-size: 30px;
    font-weight: bold;
}