.SponsorsBox{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient( to bottom , #00000000 , #000000cc,#000000cc , #00000000);
    z-index: 1000;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    /* background-color: #761cbadd; */
    /* border-radius: 50px; */
}
.SponsorsText{
    font-size: 36px;
    font-family: var(--fantasy-font);
    color: antiquewhite;
}
.SponsorsLogos{
    margin: 75px 15px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: 500ms;
    transform: scale(50%);
}
.SponsorsProxyText{
    font-size: 72px;
    /* font-family: var(--fantasy-font); */
    letter-spacing: 10px;
    font-weight: 25;
    color: antiquewhite;
    opacity: 0.75;
    filter: drop-shadow(15px 15px 10px #646cff);
}
.SponsorsApply{
    color: var(--base-pink-lighter);
    font-size: 24px;
    font-family: var(--fantasy-font);
    margin: 30px;
    letter-spacing: 2px;
    width: 100%;
}
.SponsorsApply a{
    color: var(--base-blue-light);
    opacity: 1;
}
/* .SponsorsLogos :hover{
    transition: 500ms;
    transform: scale(105%);
} */
.company{
    width: 33%;
    padding: 20px;
}
.companyLogo{
    filter: drop-shadow(5px 5px 10px #646cff);
    width: 100%;
}
.companyLogo.Gold{
    filter: drop-shadow(5px 5px 10px #FFD700);
}
.companyLogo.Silver{
    filter: drop-shadow(5px 5px 10px #C0C0C0);
}
.companyLogo.Bronze{
    filter: drop-shadow(5px 5px 10px #CD7F32);
}
/* .companyLogo :hover{
    filter: drop-shadow(10px 10px 15px #FFFFFF);
} */
.SponsorsBox> .animatedContent.show.SponsorsLogos{
    transform: scale(100%);
}