.TimeLineContent{
    display: flex;
    min-height: 100px;
    border-radius: 20px;
    max-width: 500px;
    border: 3px solid var(--base-pink-lighter);
    overflow: hidden;
}
.TimeLineContent.right{
    flex-direction: row;
}
.TimeLineContent.left{
    flex-direction: row-reverse;
    margin-left: auto;
}
.TLDate{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fantasy-font);
    font-size: var(--font-size-large);
    color: var(--base-light);
    background-color: var(--base-purple-light);
}
.right .TLDate{
    border-right: 3px solid var(--base-pink-lighter);
}
.left .TLDate{
    border-left: 3px solid var(--base-pink-lighter);
}
.TLDate span{
    font-size: var(--font-size-large);
}
.TLTitle{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fantasy-font);
    font-size: var(--font-size-large);
    color: var(--base-light);
    background-color: var(--base-purple);
}

.TimelineBox.animatedContent .TimeLineContent{
    opacity: 0;
    transition: 1s;
}
.TimelineBox.animatedContent .TimeLineContent.left{
    transform: translateX(100%);
}
.TimelineBox.animatedContent .TimeLineContent.right{
    transform: translateX(-100%);
}
.TimelineBox.animatedContent.show .TimeLineContent{
    opacity: 1;
    transform: translateX(0px);
}